@import '../../utils/card';

.multibox-card {
  width: 673px;
  height: 277px;

  .multibox {
    width: 673px;
    height: 277px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    input {
      visibility: hidden;
      height: 0;
      width: 0;
    }
    label {
      background: white;
      color: palette(Black, Text);
      cursor: pointer;
      display: block;
      font-size: 1em;
      height: 2.5em;
      width: 100px;
      line-height: 2.5em;
      text-align: center;
      text-transform: uppercase;
      border-radius: 2px;
      z-index: 1;
    }
    input:hover + label {
      background: palette(Black, Dividers);
    }
    input:checked + label {
      background: var(--main-color);
      color: white;
      font-weight: 600;
      @include card(1);
      z-index: 2;
    }
    .contents {
      width: 515px;
      height: 239px;
    }
    .contents > div {
      position: absolute;
      width: 515px;
      height: 239px;
      overflow-y: auto;
      z-index: 1;
      background: white;
    }
    #tab-1:checked ~ .contents #content-1,
    #tab-2:checked ~ .contents #content-2,
    #tab-3:checked ~ .contents #content-3,
    #tab-4:checked ~ .contents #content-4,
    #tab-5:checked ~ .contents #content-5
    {
      z-index: 2;
    }
  }
}


