@import 'config';
@import 'palette';
@import 'card';

$action-button-diameter: 70px;
$action-button-cross-width: 18px;
$action-button-cross-color: $global-action-cross-color;
$action-button-background-color: $global-action-color;

$action-button-offset-1: 40px;
$action-button-offset-2: 10px;
$action-button-offset-3: 10px;


@function action-button-get-top-offset($diameter, $offset) {
  @return 300px - $diameter / 2;
}

@function action-button-get-media-width-break($diameter, $offset, $width) {
  @return $width + 2 * ($offset + $diameter);
}

@function action-button-get-half($value) {
  @return $value / 2;
}

#action-button {
  outline: none;
  background: $action-button-background-color;
  font-size: 40px;
  font-weight: 300;
  box-sizing: border-box;
  transition: top 0.7s, right 0.7s, box-shadow 0.4s, transform 0.2s;
  transition-timing-function: ease;
  width: $action-button-diameter;
  height: $action-button-diameter;
  position: absolute;
  border-radius: 50%;
  right: 30px;
  top: action-button-get-top-offset($action-button-diameter, $global-header-height);
  border: none;
  z-index: 2;
  @include card(2);
  &:hover {
    @include card(3);
    .icon-bars {
      transform: rotate(45deg);
    }
  }
  .icon-bars {
    background: $action-button-cross-color;
    height: 2px;
    width: $action-button-cross-width;
    margin: auto;
    display: block;
    top: 1px;
    position: relative;
    transition: all 0.3s;
    &:after{
      content: '';
      position: absolute;
      height: $action-button-cross-width;
      width: 2px;
      background: $action-button-cross-color;
      right: action-button-get-half($action-button-cross-width)-1;
      top: - action-button-get-half($action-button-cross-width)+1;
    }
  }
}

$action-button-break-1: 2*$action-button-diameter + $global-content-width + 2*$action-button-offset-1;
$action-button-break-2: 2*$action-button-diameter+$global-content-width+ 2*$action-button-offset-2;

@media (max-width: #{$action-button-break-1}) and (min-width: #{$action-button-break-2}) {
  #action-button {
    right: $action-button-offset-2;
  }
}

$action-button-offset-top-diff-3: $action-button-offset-3 + $action-button-diameter;
@media (max-width: #{$action-button-break-2}) {
  #action-button {
    @include card(3);
    position: fixed;
    right: $action-button-offset-3;
    top: calc(100% - #{$action-button-offset-top-diff-3});
    &:hover {
      @include card(5);
    }
  }
}
