@import 'config';
@import 'palette';
@import 'card';

$article-highlight-color: palette(Light Blue, 700);

.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1120px;
  position: relative;
  top: -300px;
  box-sizing: border-box;
  margin: 0 auto;
  .card {
    @include card(1);
    background: white;
    border-radius: 2px;
    margin-bottom: 30px;
  }
}

.article {
  max-width: $global-content-width;
  box-sizing: border-box;
  header {
    .banner {
      background: $article-highlight-color;
      height: 175px;
    }
    .article-title {
      padding: 25px 30px 10px 30px;
      font-size: 300%;
      font-weight: 300;
      color: white;
      background: $article-highlight-color;
      line-height: 1em;
    }
    .details {
      display: flex;
      justify-content: space-between;
      background: $article-highlight-color;
      padding: 0 30px;
      .timestamp {
        color: white;
        background: $article-highlight-color;
        font-size: 1.4em;
        display: flex;
        padding: 12px 0;
        align-items: center;
      }
      .tag-list {
        margin: 0;
        padding: 0;
        align-items: center;
        a {
          background: white;
        }
      }
    }
    .summary {
      display: flex;
      display-direction: row;
      padding: 30px 30px 6px 30px;
      font-size: 1.3em;
      color: palette(Black, Secondary Text);
    }
  }
  article {
    padding: 10px $global-content-padding $global-content-padding ;
  }
  a {
    color: $article-highlight-color;
  }
  hr {
    position: relative;
    border: none;
    border-top: 1px solid palette(Black, Dividers);
    margin-bottom: 30px;
    width: $global-content-width;
    position: relative;
    left: -$global-content-padding;
  }

  pre code {
    background: palette(Grey, 100);
    width: $global-content-width;
    display: block;
    position: relative;
    left: -$global-content-padding;
    padding: $global-content-padding;
    box-sizing: border-box;
    overflow-x: auto;
    color: #999;
  }
}

.discussion {
  padding: 10px 30px 30px 30px;
  box-sizing: border-box;

}

$sidebar-width: 300px;
$sidebar-padding: 19px;

.sidebar {
  box-sizing: border-box;
  width: $sidebar-width;
  .avatar {
    display: block;
    width: $sidebar-width;
    height: $sidebar-width;
    background: palette(Blue);
  }
  .sidebar-nav {
    border-bottom: 1px solid palette(Black, Dividers);
    display: flex;
    text-align: center;
    a {
      width: $sidebar-width / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: palette(Black, Secondary Text);
      &:hover {
        background: $article-highlight-color;
        color: white;
        font-weight: 400;
      }
      &:first-child {
        border-right: 1px solid palette(Black, Dividers);
      }
    }
  }
  .sidebar-widget {
    padding: 0 $sidebar-padding;
    display: block;
    border-bottom: 1px solid palette(Black, Dividers);
    // &:last-child {
    //   border: none;
    // }
    hr {
      position: relative;
      border: none;
      border-top: 1px solid palette(Black, Dividers);
      margin-bottom: 30px;
      width: $sidebar-width;
      position: relative;
      left: -$sidebar-padding;
    }
  }
}



