@import 'palette';
$global-header-height:   420px;
$global-content-width:   800px;
$global-content-padding: 30px;

$global-main-color:      Grey;
$global-button-hover:    Light Blue;
$global-action-color:    Blue;
