@import 'config';
@import 'card';
@import 'palette';

$navigation-height: 50px;
$header-height: $global-header-height;
$navigation-background-color: $global-header-color;
$navigation-text-color: palette(White);
$navigation-hover-text-color: palette(Light Blue, 800);
$navigation-hover-background-color: $global-main-color;
$navigation-active-text-color: palette(Light Blue, 900);
$navigation-active-background-color: palette(Light Blue, A200);

.main-nav {
  width: 100%;
  height: $navigation-height;
  display: flex;
  position: absolute;
  justify-content: space-between;
  .group {
    display: flex;
    align-items: center;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding:  0 10px;
      border: none;
      background: none;
      height: $navigation-height;
      font-size: 1.1em;
      color: $navigation-text-color;
      text-decoration: none;
      &:hover {
        // color: $navigation-hover-text-color;
        background: $navigation-hover-background-color;
      }
      &:active {
        // color: $navigation-active-text-color;
        background: $navigation-active-background-color;
      }
      &.logo {
        font-size: 1.4em;
      }
    }
  }
}

.header {
  width: 100%;
  background: $navigation-background-color;
  height: $header-height;
  padding: 10px 50px;
  box-sizing: border-box;
  z-index: 0;
}
