@import 'config';
@import 'palette';
@import 'card';

.index-header {
  display: block;
  background: $global-header-color;
  height: 400px;
  margin-bottom: 20px;
}
section {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: $global-width;
  margin: 0 auto;
  h1 {
    width: 100%;
    text-align: center;
    font-width: 600;
    font-size: 2.5em;
    color: palette(Black, Secondary Text);
  }
}
.articles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .articles {
    box-sizing: border-box;
    width: 800px;

    article {
      @include card(1);
      background: white;
      margin-bottom: 20px;
      transition: box-shadow 0.4s ease;
      box-sizing: border-box;
      display: flex;
      width: 100%;
      .details {
        width: 800px;
        padding: 0 19px 12px;
        hr {
          width: 800px;
          position: relative;
          left: -19px;
          margin: 0;
          margin-bottom: 12px;
          border: none;
          border-top: 1px solid palette(Black, Dividers);
          box-sizing: border-box;
        }
        &.with-thumbnail {
          width: 600px;
          hr {
            width: 600px;
          }
        }
        header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
        h2 {
          margin-bottom: 3px;
          > a {
            text-decoration: none;
            color: $global-main-color;
            transition: all 0.4s ease;
            position: relative;
            left: 0px;
            &:hover {
              position: relative;
              left: 5px;
            }
          }
        }
        .timestamp {
          font-size: 0.8em;
          color: palette(Black, Hint Text);
        }
        .snippet {
          margin-bottom: 10px;
        }
        .tag-list {
          margin: 0;
        }
      }
      .image {
        background: $global-main-color;
        width: 200px;
        height: 200px;

      }
    }

  }

  .sidebar {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column;
    .card {
      @include card(1);
      background: white;
      margin-bottom: 12px;
    }
    .tags {
      align-self: flex-start;
      padding: 0 19px;
      .tags-list {
        margin: 0;
      }
    }
    .pagination-nav {
      align-self: flex-end;
      display: flex;
      text-align: center;
      a {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        box-sizing: border-box;
        color: palette(Black, Secondary Text);
        &:hover {
          background: $article-highlight-color;
          color: white;
          font-weight: 400;
        }
        &:nth-child(odd) {
          border-right: 1px solid palette(Black, Dividers);
        }
      }
      span {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        text-transform: uppercase;
        text-decoration: none;
        color: palette(Black, Dividers);
        &:nth-child(odd) {
          border-right: 1px solid palette(Black, Dividers);
        }
      }
    }

  }
}

$portfolio-item-width: $global-width / 4;
$portfolio-item-height: $portfolio-item-width * 0.953333333333333333333333333333;

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: $global-width;
  margin: 0 auto;
  @include card(1);
  background: white;
  .portfolio-item {
    width: $portfolio-item-width;
    height: $portfolio-item-height;
    figure {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      margin: 0;
      img {
        width: 100%;
      }
      figcaption {
        width: 100%;
        height: 100%;
        display: table;
        background: $global-main-color;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.1s ease;
        .overlay {
          height: 100%;
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          padding: 20px;
          h2 {
            font-weight: 400;
          }
          small {
            color: palette(White, Secondary Text);
          }
          a {
            color: palette(Black, Secondary Text);
            background: white;
            padding: 10px;
            text-decoration: none;
            margin-top: 10px;
            align-self: flex-end;
            text-transform: uppercase;
            position: absolute;
            bottom: 20px;
            right: 20px;
          }
        }
      }
      &:hover figcaption {
        opacity: 1;
      }
    }
  }
}

.footer {
  width: 800px;
  margin: 40px auto 20px auto;
  text-align: center;
  color: palette(Black, Hint Text);
  font-size: 0.8em;
}
