@import 'utils/config';
@import 'utils/palette';
@import 'utils/card';

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  color: #404040;
  overflow-y: scroll;
  background: radial-gradient(circle at top, #4e7f94, #1a373e 1000px);
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;;
  line-height: 1.3em;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 1em;
}

.my-name {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.flexwrap {
  margin: 0 auto;
  width: var(--wrapper-width);
  display: flex;

  >section {
    flex: 1 1 auto;
    margin-left: var(--margin-between-cards);
    &:first-child {
      margin-left: 0;
    }
  }
}

.vertflexwrap {
  display: flex;
  flex-direction: column;

  >section {
  }
}

.card {
  box-shadow: 0 17px 12px -14px rgba(0, 0, 0, 0.82);
  background: #fcfcfc;
  margin-bottom: var(--margin-between-cards);
  border-radius: 4px;
  overflow: hidden;
  h2 {
    margin: 0 0 13px;
    color: palette(Black, Secondary Text);
  }
}

.avatar {
  width: 264px;
  height: 264px;
}

.padded {
  padding: var(--content-padding);
}

@import 'elements/index';
@import 'elements/tags';
@import 'elements/action-button';
@import 'elements/header';
@import 'elements/article';
@import 'elements/index/portfolio';
@import 'utils/icons';


