@import 'utils/config';
@import 'utils/palette';
@import 'utils/card';

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  overflow-y: scroll;
  background: palette(Grey, 200);
  font-family: 'Roboto', sans-serif;
  //font-family: 'Noto Sans', sans-serif;
  line-height: 1.4em;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 1em;
}

table {
  background-color: #fff;
  font-size: 13px;
  table-layout: auto;
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  thead {
    background-color: #FAFAFA;
    font-weight: 500;
  }
  td, th {
    border: 1px solid #EEEEEE;
    line-height: 24px;
    padding: 12px 12px 12px 24px;
    color: #212121;
    vertical-align: middle;
  }
}

.flexwrap {
  margin: 0 auto;
  width: var(--wrapper-width);
  display: flex;

  >section {
    flex: 1 1 auto;
    margin-left: var(--margin-between-cards);
    &:first-child {
      margin-left: 0;
    }
  }
}

.vertflexwrap {
  display: flex;
  flex-direction: column;

  >section {
  }
}

.card {
  @include card(1);
  background: white;
  margin-bottom: 20px;
  h2 {
    margin: 0 0 13px;
    color: palette(Black, Secondary Text);

  }
}

.avatar {
  width: 300px;
  height: 300px;
}

.padded {
  padding: var(--content-padding);
}

@import 'elements/index';
@import 'elements/tags';
@import 'elements/action-button';
@import 'elements/header';
@import 'elements/article';
@import 'elements/index/portfolio';
@import 'utils/icons';


