@import 'config';
@import 'palette';

$tags-height: 24px;
$tags-font-size: 0.8em;
$tags-color: palette(Blue);

.tag-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  flex-wrap: wrap;
  a {
    color: palette(Grey, 600);
    text-decoration: none;
    font-weight: 400;
    font-size: $tags-font-size;
    display: flex;
    align-items: center;
    background: palette(Grey,300);
    vertical-align: middle;
    height: $tags-height;
    padding: 0 15px;
    margin-bottom: 6px;
    border-radius: $tags-height / 2;
    margin-right: 6px;
    transition: all 0.2s ease;
    &.count {
      padding: 0 0 0 15px;
      span {
        margin-left: 4px;
      }
    }
    span {
      font-size: $tags-font-size;
      background: palette(Grey,500);
      color: palette(Grey,200);
      height: $tags-height;
      width: $tags-height;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $tags-height / 2;
      transition: all 0.2s ease;
    }
    &:hover {
      color: $tags-color;
      span {
        background: $tags-color;
      }
    }
  }
}
