<div class="card">
  <div class="fade-loader"></div>
  <div class="fade-in">
    <nav class="sidebar-nav">
      {{#if previous}}
        <a href="{{previous.url}}" class="previous-a"><</a>
      {{else}}
        <span><</span>
      {{/if}}
      {{# if next}}
      <a href="{{next.url}}" class="next-a">></a>
      {{else}}
      <span>></span>
      {{/if}}
      {{# if next}}
        <span class="neighbour-title next-title">{{next.title}}</span>
      {{/if}}
      {{#if previous}}
        <span class="neighbour-title previous-title">{{previous.title}}</span>
      {{/if}}
    </nav>
  </div>
</div>
