
<img src="{{baseurl}}/assets/images/tibor.jpg" class="avatar"></img>
<button id="action-button"><i class="icon-bars"></i></button>

<div class="sidebar-widget">
  <p>
  Hi, my name is Tibor Simon.<br>I am a graduated electrical engineer with a masters degree. I live in Budapest, and I am currently working at Nokia Networks.
  </p>
</div>
<nav class="sidebar-nav">
  {{# if next}}
    <a href="{{next.url}}">Previous</a>
  {{else}}
    <span>Previous</span>
  {{/if}}
  {{#if previous}}
    <a href="{{previous.url}}">Next</a>
  {{else}}
    <span>Next</span>
  {{/if}}
</nav>
<div class="sidebar-widget">
  <h3>Tags</h3>
  {{> tags/by/count}}
</div>
