<div class="sidebar">
  <img src="{{baseurl}}/assets/images/tibor.jpg" class="avatar"></img>
  <button id="action-button"><i class="icon-bars"></i></button>

  <div class="card padded">
    Hi, my name is Tibor Simon.<br>I am a graduated electrical engineer with a masters degree. I live in Budapest, and I am currently working at Nokia Networks.
  </div>
  <div class="card">
    <nav class="sidebar-nav">
      {{# if next}}
        <a href="{{next.url}}" class="next-a">Previous</a>
      {{else}}
        <span>Previous</span>
      {{/if}}
      {{#if previous}}
        <a href="{{previous.url}}" class="previous-a">Next</a>
      {{else}}
        <span>Next</span>
      {{/if}}
      {{# if next}}
        <span class="neighbour-title next-title">{{next.title}}</span>
      {{/if}}
      {{#if previous}}
        <span class="neighbour-title previous-title">{{previous.title}}</span>
      {{/if}}
    </nav>
  </div>
  <div class="card padded">
    <h2>Tags</h2>
    {{> tags/by/count}}
  </div>
</div>
