[submodule "content"]
	path = content
	url = git@github.com:tiborsimon/tiborsimon.io-content.git
[submodule "output"]
	path = output
	url = git@github.com:tiborsimon/tiborsimon.github.io.git
[submodule "worklog"]
	path = worklog
	url = git@github.com:tiborsimon/worklog.git
