
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme-chipotle.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel="stylesheet" type="text/css">
        <link href="css/font-opensans.css" rel="stylesheet" type="text/css">
    </head>

    <body class="btn-rounded">
				
		<div class="nav-container">
		    
		    
		
		    
		    <nav class="absolute transparent">
		        <div class="nav-bar">
		            <div class="module left">
		                <a href="index.html">
		                    <img class="logo logo-light" alt="Foundry" src="img/logo-light.png">
		                    <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png">
		                </a>
		            </div>
		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
		                <i class="ti-menu"></i>
		            </div>
		            <div class="module-group right">
		                <div class="module left">
		                    <ul class="menu">
		                        <li>
		                            <a href="#">Single</a>
		                        </li><li>
		                            <a href="#">Single</a>
		                        </li><li>
		                            <a href="#">Single</a>
		                        </li><li>
		                            <a href="#">Single</a>
		                        </li>
		                        
		                        
		                    </ul>
		                </div>
		                
		                
		            </div>
		            
		        </div>
		    </nav>
		
		    
		    
		
		    
		    
		
		</div>
		
		<div class="main-container">
					
			<section class="cover fullscreen image-slider slider-arrow-controls controls-inside parallax">
		        <ul class="slides">
		            <li class="overlay image-bg">
		                <div class="background-image-holder">
		                    <img alt="image" class="background-image" src="img/cover15.jpg">
		                </div>
		                <div class="container v-align-transform">
		                    <div class="row">
		                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
		                            <img alt="Logo" class="image-small mb8" src="img/tiborsimon-logo.png">
		                            <h6 class="uppercase mb32">engineering with passion<br></h6>
		                            
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </li>
		        </ul>
		    </section><section class="page-title page-title-3">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h3 class="uppercase mb0">Latest articles<br></h3>
		                </div>
		            </div>
		            
		        </div>
		        
		        
		    </section><section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1">
		                    <div class="post-snippet mb64">
		                        
		                        <div class="post-title">
		                            <span class="label">23 Sep</span>
		                            <h4 class="inline-block">A simple image post for starters</h4>
		                        </div>
		                        <ul class="post-meta">
		                            <li>
		                                <i class="ti-user"></i>
		                                <span>Written by
		                                    <a href="#">Craig Garner</a>
		                                </span>
		                            </li>
		                            <li>
		                                <i class="ti-tag"></i>
		                                <span>Tagged as
		                                    <a href="#">Lifestyle</a>
		                                </span>
		                            </li>
		                        </ul>
		                        <hr>
		                        <p class="lead">
		                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		                        </p>
		                        
		                        
		                        
		                        
		                    </div>
		                    
		                    <hr>
		                </div>
		                
		            </div>
		            
		        </div>
		        
		    </section><section>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1">
		                    <div class="post-snippet mb64">
		                        
		                        <div class="post-title">
		                            <span class="label">23 Sep</span>
		                            <h4 class="inline-block">A simple image post for starters</h4>
		                        </div>
		                        <ul class="post-meta">
		                            <li>
		                                <i class="ti-user"></i>
		                                <span>Written by
		                                    <a href="#">Craig Garner</a>
		                                </span>
		                            </li>
		                            <li>
		                                <i class="ti-tag"></i>
		                                <span>Tagged as
		                                    <a href="#">Lifestyle</a>
		                                </span>
		                            </li>
		                        </ul>
		                        <hr>
		                        <p class="lead">
		                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		                        </p>
		                        
		                        
		                        
		                        
		                    </div>
		                    
		                    <hr>
		                </div>
		                
		            </div>
		            
		        </div>
		        
		    </section><section class="image-square right bg-dark">
		        <div class="col-md-6 image">
		            <div class="background-image-holder">
		                <img alt="image" class="background-image" src="img/tibor1.png">
		            </div>
		        </div>
		        <div class="col-md-6 content">
		            <h3>My name is Tibor Simon. I am an electrical engineer with a masters degree from Budapest.<br></h3>
		            
		        </div>
		    </section><section class="pt120 pb120 pt-xs-40 pb-xs-40">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-10 col-md-offset-1 text-center">
		                    <i class="ti-twitter-alt icon icon-lg color-primary mb40 mb-xs-24"></i>
		                    <div class="twitter-feed tweets-slider large">
		                        <div class="tweets-feed" data-widget-id="492085717044981760">
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		        </div>
		    </section><section class="bg-secondary">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-10 col-sm-offset-1 text-center">
		                    <h3 class="uppercase color-primary mb40 mb-xs-24">A Place To Call Home</h3>
		                    <p class="lead">
		                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
		                    </p>
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><section class="image-bg bg-dark parallax overlay pt120 pb120">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image" src="img/project-single-3.jpg">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h2 class="uppercase mb8">Project Title</h2>
		                    <p class="lead mb40">A brief description of the project.</p>
		                    <a class="btn btn-lg btn-white mb0" href="#">Open Project</a>
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><section class="image-bg bg-dark parallax overlay pt120 pb120">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image" src="img/project-single-3.jpg">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h2 class="uppercase mb8">Project Title</h2>
		                    <p class="lead mb40">A brief description of the project.</p>
		                    <a class="btn btn-lg btn-white mb0" href="#">Open Project</a>
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><section class="pb64 bg-dark">
				<div class="container">
					<div class="row mb64 mb-xs-32">
						<div class="col-sm-6 col-sm-offset-3 text-center">
							<h2 class="uppercase bold italic"><i class="ti-instagram">&nbsp;</i>TIBORSIMON<br></h2>
							<p class="lead">
								Follow me on Instagram for workout inspiration and shots from our awesome group fitness sessions.
							</p>
						</div>
					</div>
				</div>
				<div class="instafeed grid-gallery gapless mb64 mb-xs-32 relative" data-user-name="tiborsimon">
					<ul></ul>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 text-center">
							<a class="btn btn-lg btn-filled mb0" href="#">See more on Instagram</a>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer-2 bg-dark text-center-xs">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<a href="#"><img class="image-xxs fade-half" alt="Pic" src="img/logo-light.png"></a>
						</div>
					
						<div class="col-sm-4 text-center">
							<span class="fade-half">
								© Copyright 2015 Medium Rare - All Rights Reserved
							</span>
						</div>
					
						<div class="col-sm-4 text-right text-center-xs">
							<ul class="list-inline social-list">
								<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-dribbble"></i></a></li>
								<li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
		
				
	<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/masonry.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				