{% extends "base.html" %}

{% block nav %}
{% include 'includes/nav-white.html' %}
{% endblock nav %}

{% block header %}
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Category {{ category }}</h1>
            </div>

            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{{ SITEURL }}">Home</a>&nbsp;/&nbsp;<a href="{{ SITEURL }}/archives">Blog</a>&nbsp;/&nbsp;<a href="{{ SITEURL }}/categories">categories</a>&nbsp;/&nbsp;<span>{{ category }}</span>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock header %}


{% block content %}

{% if articles %}
<!-- Section -->
<section class="page-section pt-120" id="latest">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-sm-12">

                <div class="row masonry">

                <!-- Post Item -->
                {% for article in articles %}
                    {% include 'includes/article/masonry-item-6.html' %}
                {% endfor %}
                <!-- End Post Item -->

                </div>

            </div>

        </div>
        <div class="mb-10 align-center">
            <a href="{{ SITEURL }}/categories" class="btn btn-mod btn-gray btn-medium btn-circle">View all categories</a>
        </div>

    </div>
</section>
<!-- End Section -->
{% endif %}

{% endblock content %}

