{% extends "base.html" %}

{% block header %}
<!-- Head Section -->
<section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-small" data-background="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/app2.jpg">
    <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
            <div class="home-text">

                <div class="row">

                    <div class="col-md-8 align-left">
                        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Engineering with passion</h1>
                        <div class="hs-line-4 font-alt">
                            Tibor Simon's personal website
                        </div>
                    </div>

                    <div class="col-md-4 mt-30">
                        <div class="mod-breadcrumbs font-alt align-right">
                            <a href="{{ SITEURL }}">Home</a>&nbsp;/&nbsp;
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- End Hero Content -->

    </div>
</section>
<!-- End Head Section -->
{% endblock header %}


{% block content %}

    {% include 'includes/about2.html' %}
    <hr class="mt-0 mb-0 ">
    {% include 'includes/articles.html' %}
    <hr class="mt-0 mb-0 ">
    {% include 'includes/portfolios.html' %}

{% endblock content %}

{% block script %}
    {% include 'includes/github-calendar-scripts.html' %}
{% endblock script %}
