
{% extends "base.html" %}

{% block nav %}
{% include 'includes/nav-white.html' %}
{% endblock nav %}

{% block header %}
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Tags</h1>
            </div>

            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{{ SITEURL }}">Home</a>&nbsp;/&nbsp;<a href="{{ SITEURL }}/archives">Blog</a>&nbsp;/&nbsp;<span>tags</span>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock header %}


{% block content %}

{% if articles %}
<!-- Section -->

<section class="page-section pt-20" id="latest">

<div class="container relative align-center pt-50 pb-30">
    <div class="row">
        <div class="col-sm-12 scroll-nav local-scroll">
        {% for tag, articles in tags|sort %}
        <a href="#{{ tag }}" class="btn btn-mod btn-gray btn-round" style="margin: 0 2px 5px 2px;">{{ tag }}</a>
        {% endfor %}
        </div>
    </div>
</div>

{% for tag, articles in tags|sort %}
    <hr class="mb-0 mt-0" />

    <div class="container relative" id="{{ tag }}">
        <h2 class="section-title font-alt mb-20 mb-sm-20 mt-70">{{ tag }}</h2>
        <div class="row">
            <!-- Content -->
            <div class="col-sm-12">

                <div class="row masonry">

                <!-- Post Item -->
                {% for article in articles %}
                    {% include 'includes/article/masonry-item-6.html' %}
                {% endfor %}
                <!-- End Post Item -->

                </div>
            </div>
        </div>
    </div>

{% endfor %}

</section>
<!-- End Section -->
{% endif %}

{% endblock content %}
