@import '../utils/palette';

:root {
  --wrapper-width:        1120px;
  --header-height:        390px;
  --content-width:        800px;
  --content-padding:      19px;
  --margin-between-cards: 14px;
  --card-radius:          0px;

  --main-color:           #3d7287;
  --hover-color:          #92bccc;

  --card-bg-color:        #fcfcfc;
}
