<footer>
   <div style="padding-bottom: 60px">
      
      <div class="row">
         <div class="col-xs-6"><i class="fa fa-copyright"></i> <span class="ts-current-year"></span> {{ AUTHOR }}
            - Powered by <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
         </div>
         <div class="col-xs-4"><small style="font-size: 70%; opacity: 0.2" class="text-center">Last build: <span class="ts-current-date"></span></small></div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
      <div class="row text-center hidden-xs" style="margin-top: 8px;">
        <div class="col-xs-2">
          {% include 'includes/footer-share-buttons.html' %}
        </div>
        <small class="col-xs-8 text-center">
          Every content on tiborsimon.io is created by <a xmlns:cc="http://creativecommons.org/ns#" href="tiborsimon.io" property="cc:attributionName" rel="cc:attributionURL">Tibor Simon</a> 
          and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, unless otherwise noted.
          If you are not sure about the licensing, please contact Tibor and discuss your case.<br />
        </small>
        <div class="col-xs-2">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        </div>
      </div>
      <div class="row text-center hidden-sm hidden-md hidden-lg" style="margin-top: 8px;">
        <div class="col-xs-12">
          {% include 'includes/footer-share-buttons.html' %}
        </div>
        <small class="col-xs-12 text-center" style="margin-top: 8px;">
          Every content on tiborsimon.io is created by <a xmlns:cc="http://creativecommons.org/ns#" href="tiborsimon.io" property="cc:attributionName" rel="cc:attributionURL">Tibor Simon</a> 
          and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, unless otherwise noted.
          If you are not sure about the licensing, please contact Tibor and discuss your case.<br />
        </small>
        <div class="col-xs-12" style="margin-top: 8px;">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        </div>
      </div>
   </div>
</footer>
