.github-button {
  position: relative;
  bottom: 5px; }
  .github-button a {
    color: #fff !important;
    text-decoration: none;
    background-color: #555;
    display: table-cell;
    border-radius: 3px;
    font-size: 0.74em;
    font-weight: lighter;
    width: 350px;
    text-align: center;
    height: 25px;
    padding-top: 1px;
    transition: all 0.4s;
    margin: 0 3px;
    border: 1px solid white; }
    .github-button a:hover {
      background-color: #000;}

.jslghtbx-thmb {
  padding: 2px;
  max-width: 100%;
  max-height: 140px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 451px) {
    .jslghtbx-thmb {
      margin: 1em; } }
  @media screen and (max-width: 450px) {
    .jslghtbx-thmb {
      margin: 1em 0; } }
  .jslghtbx-thmb:hover {
    box-shadow: 0px 0px 14px 0px #000; }

/*  T O R T E X - T I M E  */
.tortex-time-wrapper:after {
  display: table;
  clear: both;
  content: ""; }

.tortex-time-wrapper .tortex-time-pick {
  display: block;
  width: 90px;
  height: 150px;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin: 0 3px 6px 3px;
  box-shadow: 0 0 4px #f0f0f0;
  float: left; }
  .tortex-time-wrapper .tortex-time-pick .tortex-img {
    display: block;
    margin: 12px auto 0 auto !important;
    box-shadow: none !important; }
  .tortex-time-wrapper .tortex-time-pick .pick-overlay {
    display: block;
    text-align: center;
    background-color: #eee;
    height: 22px;
    margin: 0 0 5px 0;
    border-radius: 4px 4px 0 0;
    font-size: 70%;
    line-height: 22px;
    overflow: hidden; }

.tortex-time-wrapper .tortex-descr {
  height: 54px;
  display: block;
  text-align: center !important;
  padding-top: 10px; }
  .tortex-time-wrapper .tortex-descr div {
    font-size: 70% !important;
    line-height: 10pt !important;
    margin: auto 0 !important; }

.tortex-time-wrapper .tortex-latest {
  clear: both; }


#content table {
  width: 100%;
  display: table;
  border-collapse: separate;
  border: 1px solid #ccc;
  border-radius: 3px; }
  #content table thead {
    background-color: #ededed;
    color: #8a8a8a; }
  #content table td, #content table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 6px 4px;
    line-height: 1em; }
  #content table th {
    border-top: none;
    overflow: hidden; }
  #content table th:first-child {
    border-radius: 3px 0 0 0; }
  #content table th:last-child {
    border-radius: 0 3px 0 0; }
  #content table td:first-child, #content table th:first-child {
    border-left: none; }
  #content table tr:hover td {
    background-color: #ededed !important; }

.widget-avatar {
  /* box-shadow: 0 2px 16px #ddd; */
  text-align: center;
  margin: 0 auto 16px auto;
  display: block;
  max-width: 775px;
  /* border: 2px solid #555; } */
}


.series-summary {
    text-align: justify;
}
