<div class="panel panel-default">
{% if article.img %}
  <img src="article.img" />
{% else %}
  <!-- <div class="replacement-img-div">
    <p>{{ article.category }}</p>
  </div> -->
{% endif %}
<div class="panel-body">
  <div class="row" style="opacity: 0.8; font-size: 94%;">
    {% if article.modified %}
      <small class="col-xs-6 col-sm-12 col-md-12 col-lg-5">
      <i class="fa fa-refresh" style="margin-right: 2px"></i> Modified on 
      <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
    </small>
    {% else %}
    <small class="col-xs-6 col-sm-12 col-md-12 col-lg-5">
      <i class="fa fa-clock-o"></i> Posted on 
      <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
    </small>
    {% endif %}
    <small class="col-xs-6 col-sm-12 col-md-12 col-lg-7 text-right">
        <i class="fa fa-folder-open-o"></i>
        <span>{{ article.category }}</span>
        {% if article.tags %}
          <i class="fa fa-tags" style="margin-left: 5px"></i>
          {% for tag in article.tags %}
            <span>{{ tag }}</span>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
    </small>
  </div>
  <h3 class="list-group-item-heading">
  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    {% if article.series %}
      <small style="font-size: 50%">Part {{ article.series.index }} of the <i>{{ article.series.name }}</i> series</small>
    {% endif %}
  </h3>
  <div class="list-group-item-text">{{ article.summary }}</div>
</div>
</div>