<section class="multibox card padded">
  <input id="tab-1" type="radio" name="tab-group" checked="checked" />
  <label for="tab-1">Videos</label>
  <input id="tab-2" type="radio" name="tab-group" />
  <label for="tab-2">Worklog</label>
  <input id="tab-3" type="radio" name="tab-group" />
  <label for="tab-3">Gear</label>
  <input id="tab-4" type="radio" name="tab-group" />
  <label for="tab-4">Support</label>
  <div class="contents">
    <div id="content-1">
      content 1
    </div>
    <div id="content-2">
      content 2
    </div>
    <div id="content-3">
      content 3
    </div>
    <div id="content-4">
      content 4
    </div>
  </div>
</section>
