<div class="card">
  <div class="fade-loader"></div>
  <div class="fade-in">
    <div class="portfolio-list">
      {{#each portfolio_list}}
      <div class="portfolio-item">
        <figure>
          <img src="{{baseUrl}}/assets/images/projects/{{name}}/thumbnail-300x300.jpg" alt="{{description}}">
          <figcaption>
          <div class="overlay">
            <div class="title">{{title}}</div>
            <div class="description">
              {{description}}
            </div>
            <small>{{date}} - {{category}}</small>
            <a href="{{link}}">details</a>
          </div>
          </figcaption>
        </figure>
      </div>
      {{/each}}
    </div>
  </div>
</div>
