<div class="project-list">
  {{#each portfolio_list}}
  <div class="card">
    <div class="fade-loader"></div>
    <div class="fade-in">
      <div class="project">
        <img width=180 height=180 src="{{baseUrl}}/assets/images/projects/{{name}}/thumbnail-300x300.jpg" alt="{{description}}">
        <div class="project-description">
          <h2>{{title}}</h2>
          <div class="description">
            {{description}}
          </div>
          <small>{{date}} - {{category}}</small>
          <a href="{{link}}">details</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
