<div class="pypi">
  <h2>PyPi packages</h2>
  <div class="packages">
    <div class="package">
      <h3>Projects <small>1.0.9</small></h3>
      <p>Intuitive project manager and recursive scripting engine.</p>
      <a href="https://pypi.python.org/pypi?name=projects&version=1.0.9&:action=display" target="_blank">See on Pypi</a>
      <a href="https://github.com/tiborsimon/projects" target="_blank">See on GitHub</a>
    </div>
    <div class="package">
      <h3>Regart <small>1.0.5</small></h3>
      <p>Register art generator for ASCII based visual register section descriptions.</p>
      <a href="https://pypi.python.org/pypi?name=regart&version=1.0.5&:action=display" target="_blank">See on Pypi</a>
      <a href="https://github.com/tiborsimon/regart" target="_blank">See on GitHub</a>
    </div>
  </div>
</div>

