{% extends "base.html" %}

{% block body_tag %}
  <body class="no-sidebar">
{% endblock body_tag %}

{% block main %}
<!-- Main -->
<div class="wrapper style2">
  <div class="title">Archives</div>
  <div id="archives" class="container">

    <!-- Archives -->
      <div class="row">
        <div class="6u 6u(tablet) 12u(bigmobile) 12u(mobile)">
          <section id="archives">
            {% for article in (articles_page.object_list[:4] if articles_page else articles)  %}
              {% include 'includes/article-card.html' %}
            {% endfor %}
          </section>
        </div>
        <div class="6u 6u(tablet) 12u(bigmobile) 12u(mobile)">
          <section id="archives">
            {% for article in (articles_page.object_list[4:] if articles_page else articles)  %}
              {% include 'includes/article-card.html' %}
            {% endfor %}
          </section>
        </div>
      </div>

      {% include 'includes/pagination.html' %}

  </div>
</div>

{% endblock main %}
