{% extends "base.html" %}

{% block title %}
  <title>{{ article.title }} - Tibor Simon</title>
{% endblock title %}

{% block meta %}
  <meta name="author" content="Tibor Simon" />
  <meta name="keywords" content="{{ article.kw|striptags }}" />
  <meta name="description" content="{{ article.summary|striptags|escape }}" />
{% endblock %}

{% block opengraph %}
  <meta property="fb:app_id" content="551628881652865" />
  <meta property="og:site_name" content="tiborsimon.io" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ article.title|striptags|escape }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:description" content="{{ article.summary|striptags|escape }}" />
  <meta property="article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}" />
  <meta property="article:section" content="{{ article.category }}" />
  <meta property="article:tag" content="{{ tag }}" />
  <meta property="article:author" content="Tibor Simon" />
  {% if article.og_image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.og_image }}"/>
  {% elif OPEN_GRAPH_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ AVATAR }}"/>
  {% endif %}
{% endblock %}

{% block twitter_card %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@tiborsimonio" />
  <meta name="twitter:title" content="{{ article.title }}" />
  <meta name="twitter:description" content="{{ article.summary|striptags|truncate(68) }}.." />
  {% if article.og_image %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ article.twitter_image }}" />
  {% elif OPEN_GRAPH_IMAGE %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ AVATAR }}" />
  {% endif %}
{% endblock %}

{% block head %}
  {% if article.mathjax %}
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  {% endif %}
{% endblock head%}

{% block body_tag %}
  <body class="right-sidebar">
{% endblock body_tag %}

{% block main %}
<div class="wrapper style2">
  <div class="title">Article</div>
  <div id="main" class="container">
    <div class="row 150%">
      <div class="8u 12u(mobile)">

        <!-- Content -->
          <div id="content">
            <article>

              <h1 class="article-title">{{ article.title }}</h1>

              <div class="article-info">
                <hr />
                {% include 'includes/article-date.html' %}
                {% include 'includes/article-categories.html' %}
              </div>


              <div class="summary"><p>{{ article.summary|striptags }}</p></div>

              {{ article.content }}


            </article>


          </div>

          <hr class="after-content" />

          <div class="article-sharing">
            <p>Share this article with your friends</p>
            {% include 'includes/social-sharing.html' %}
          </div>

          <hr class="after-content" />

          <div class="neighbors">
            <div class="row">

              {% if article.next_article %}
                <div class="6u 12u(mobile)">
                  <div class="article-date">
                    <i class="fa fa-clock-o"></i> Posted on <time datetime="{{ article.next_article.date.isoformat() }}">{{ article.next_article.locale_date }}</time>
                  </div>

                  <a href="{{ SITEURL }}/{{ article.next_article.url }}"><h3 class="post-title">{{ article.next_article.title }}</h3></a>

                  <div class="article-categories">
                    <!-- CATEGORY -->
                    <i class="fa fa-folder-open-o"></i>
                    <a href="{{ SITEURL }}/{{ article.next_article.category.url }}">{{ article.next_article.category }}</a>

                    <!-- TAGS -->
                    {% if article.next_article.tags %}
                        <i class="fa fa-tags"></i>
                        {% for tag in article.next_article.tags %}
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>

                  <div class="article-summary">
                    {{ article.next_article.summary|striptags }}
                  </div>
                  <div class="direction">
                    Next article
                  </div>
                </div>
              {% endif %}

              {% if article.prev_article %}
                <div class="6u 12u(mobile)">
                  <div class="article-date">
                    <i class="fa fa-clock-o"></i> Posted on <time datetime="{{ article.prev_article.date.isoformat() }}">{{ article.prev_article.locale_date }}</time>
                  </div>

                  <a href="{{ SITEURL }}/{{ article.prev_article.url }}"><h3 class="post-title">{{ article.prev_article.title }}</h3></a>

                  <div class="article-categories">
                    <!-- CATEGORY -->
                    <i class="fa fa-folder-open-o"></i>
                    <a href="{{ SITEURL }}/{{ article.prev_article.category.url }}">{{ article.prev_article.category }}</a>

                    <!-- TAGS -->
                    {% if article.prev_article.tags %}
                        <i class="fa fa-tags"></i>
                        {% for tag in article.prev_article.tags %}
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                  <div class="article-summary">
                    {{ article.prev_article.summary|striptags }}
                  </div>
                  <div class="direction">
                    Previous article
                  </div>
                </div>
              {% endif %}

            </div>
          </div>

          <div class="comments" id="discussion">
            <h1>Comments</h1>
            <hr />
            {% include 'includes/comments.html' %}
          </div>

      </div>

      {% include 'includes/sidebar.html' %}

    </div>
  </div>
</div>
{% endblock main %}

{% block scripts %}
  <script type="text/javascript" src="https://tiborsimon.disqus.com/count.js" id="dsq-count-scr"></script>
{% endblock scripts %}
