{% extends "base.html" %}

{% block head %}
{% if article.mathjax %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_CHTML"></script>
</head>
{% endif %}
{% endblock head%}

{% block body_tag %}
  <body class="right-sidebar">
{% endblock body_tag %}

{% block main %}
<div class="wrapper style2">
  <div class="title">Article</div>
  <div id="main" class="container">
    <div class="row 150%">
      <div class="8u 12u(mobile)">

        <!-- Content -->
          <div id="content">
            <article>



              <h1 class="article-title">{{ article.title }}</h1>

              <div class="article-info">
                <hr />
                {% include 'includes/article-date.html' %}
                {% include 'includes/article-categories.html' %}
              </div>

              <div class="summary">{{ article.summary }}</div>

              {{ article.content }}

              <div class="addthis_sharing_toolbox"></div>

            </article>

            <div class="comments" id="discussion">
              <h1>Comments</h1>
              <hr />
              {% include 'includes/comments.html' %}
            </div>
          </div>

      </div>

      {% include 'includes/sidebar.html' %}

    </div>
  </div>
</div>
{% endblock main %}

{% block scripts %}
  <script type="text/javascript" src="http://tiborsimon.disqus.com/count.js" id="dsq-count-scr" async></script>
{% endblock scripts %}
