{% extends "base.html" %}

{% block head %}
{% if page.mathjax %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_CHTML"></script>
</head>
{% endif %}
{% endblock head%}

{% block body_tag %}
  <body class="no-sidebar">
{% endblock body_tag %}

{% block main %}
<div class="wrapper style2">
  <div class="title">Article</div>
  <div id="main" class="container">
    <div class="row 150%">
      <div class="12u 12u(mobile)">

        <!-- Content -->
          <div id="content">
            <article>



              <h1 class="article-title">{{ page.title }}</h1>

              <div class="article-info">
                <hr />
              </div>

              <div class="summary">{{ page.summary }}</div>

              {{ page.content }}

            </article>

            {% if page.comments %}
            <div class="comments" id="discussion">
              <h1>Comments</h1>
              <hr />
              {% include 'includes/comments.html' %}
            </div>
            {% endif %}
          </div>

      </div>

    </div>
  </div>
</div>
{% endblock main %}

{% block scripts %}
  <script type="text/javascript" src="http://tiborsimon.disqus.com/count.js" id="dsq-count-scr" async></script>
{% endblock scripts %}
