{% extends "base.html" %}

{% block body_tag %}
  <body class="no-sidebar">
{% endblock body_tag %}

{% block main %}
<div class="tags-and-categories-page">
<div class="wrapper style2">
  <div class="title">All tags</div>
  <div id="tags-and-categories" class="container">

    <aside class="widget widget_tag_cloud">
    <div class="tagcloud">
      {% for tag, articles in tags|sort %}
        <a class="tagcloud-button style1" href="#tag-{{ tag }}"><span class="counter">{{ articles|length }}</span> {{ tag }}</a>
      {% endfor %}
    </div>
    </aside>

  </div>
</div>

{% set flag = 1 %}

{% for tag, articles in tags|sort %}

{% if flag == 1%}
  <div class="wrapper style3">
  {% set flag = 0 %}
{% else %}
  <div class="wrapper style2">
  {% set flag = 1 %}
{% endif %}
    <div  id="tag-{{ tag }}" class="title"><i class="fa fa-tags"></i> {{ tag }} <a href="#"><i class="fa fa-angle-up"></i></a></div>
    <div class="container">

      <div class="row">

        {% set article_middle_index = articles|middle_index %}

        <div class="6u 6u(tablet) 12u(mobile)">
          {% for article in articles[:article_middle_index] %}
            {% include 'includes/article-card.html' %}
          {% endfor %}
        </div>

        <div class="6u 6u(tablet) 12u(mobile)">
          {% for article in articles[article_middle_index:] %}
            {% include 'includes/article-card.html' %}
          {% endfor %}
        </div>

      </div>

    </div>
  </div>

{% endfor %}

</div>
{% endblock main %}
