<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
</head>
<body>
  {{> header}}
  <div class="article-wrapper">
    <div class="content-colon">
      <div class="article card">
        <header>

          {{#if banner}}
          <div class="banner" style="background: url({{baseUrl}}/assets/{{banner}}); background-size: cover;"></div>
          {{else}}
          <div class="banner"></div>
          {{/if}}
          <div class="article-title">{{title}}</div>
          <div class="details">
            <div class="timestamp">{{date}}</div>
            <div class="tag-list">
              {{#each tags}}
              <a href="{{url}}">{{name}}</a>
              {{/each}}
            </div>
          </div>
          <div class="summary">{{{snippet}}}</div>
        </header>
        <article class="content">
          {{{contents}}}
        </article>
      </div>
      {{> discussion}}
      {{> footer}}
    </div>
    <div class="sidebar card">
      {{> sidebar}}
    </div>
  </div>
</body>
</html>

