<!-- Footer -->
<div id="footer-wrapper" class="wrapper">
  <div class="title">The rest of it..</div>
  <div id="footer" class="container">
    <header class="style1">
      <h2>Do you want to support Tibor?</h2>
      <div class="donation-buttons">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <!-- Identify your business so that you can collect the payments. -->
          <input type="hidden" name="business"
              value="tibor@tiborsimon.io">

          <!-- Specify a Donate button. -->
          <input type="hidden" name="cmd" value="_donations">

          <!-- Specify details about the contribution -->
          <input type="hidden" name="item_name" value="Donation for Tibor">
          <input type="hidden" name="item_number" value="To support his projects">
          <input TYPE="hidden" name="return" value="https://tiborsimon.io/guitar/tortex-time/">
          <input type="hidden" name="currency_code" value="USD">

          <!-- Display the payment button. -->
          <input type="image" name="submit" class="paypal-button"
          src="/images/paypal.png"
          alt="PayPal - The safer, easier way to pay online" width=120>
          <img alt="" width="1" height="1"
          src="/images/paypal.png">
        </form>
    </header>

    <hr />
    <div style="max-width:300px; display: block; margin: 0 auto 42px auto;">
      {% include 'includes/social-sharing.html' %}
    </div>
  </div>
  <div id="copyright">
    <ul>
      <li>&copy; Tibor Simon</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
  {% include 'includes/site-info.html' %}
</div>
