<!-- Footer -->
<div id="footer-wrapper" class="wrapper">
  <div class="title">The rest of it..</div>
  <div id="footer" class="container">
    <header class="style1">
      <h2>Do you want to support Tibor?</h2>
      <div class="donation-buttons">
        <a href="#" class="donation-button">
          <i class="fa fa-thumbs-up"></i> <span class="donation-amount">$1</span>
        </a>
        <a href="#" class="donation-button">
          <i class="fa fa-coffee"></i> <span class="donation-amount">$5</span>
        </a>
        <a href="#" class="donation-button">
          <i class="fa fa-beer"></i> <span class="donation-amount">$10</span>
        </a>
        <a href="#" class="donation-button">
          <i class="fa fa-trophy"></i> <span class="donation-amount">$100</span>
        </a>
      </div>
    </header>
    <hr />
    <div style="text-align: center" class="addthis_sharing_toolbox"></div>
  </div>
  <div id="copyright">
    <ul>
      <li>&copy; Tibor Simon</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</div>
