<!-- Header -->
<div id="header-wrapper" class="wrapper">
  <div id="header">

    <!-- Logo -->
      <div id="logo">
        <h1><a href="index.html">Engineering with passion</a></h1>
        <p>Site of Tibor Simon - Blog, worklog, portfolio</p>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="{{ SITEURL }}/index.html">Home</a></li>
          <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
          <li><a href="{{ SITEURL }}/index.html#portfolio">Portfolio</a></li>
          <li><a href="{{ SITEURL }}/worklog.html">Worklog</a></li>
          <li><a href="{{ SITEURL }}/index.html#about">About</a></li>
        </ul>
      </nav>

  </div>
</div>
