<!-- Intro -->
<section id="intro-wrapper" class="wrapper style1">
  <h2 id="about" class="title">About Tibor</h2>
  <div id="intro" class="container">
    <div class="row">
      <div class="1u 12u(mobile)"></div>
      <div class="4u 12u(mobile)">
        <img src="{{ SITEURL }}/{{ AVATAR }}" width=300 class="avatar" alt="Tibor Simon's avatar" />
      </div>
      <div class="6u 12u(mobile) about-section">
        <p class="intro-text">Hi, my name is <b>Tibor Simon.</b> I am a graduated electrical engineer with a masters degree.  I live in Budapest, and I am currently working at Nokia Networks.</p>

        <blockquote>
        <p>Engineers like to solve problems. If there are no problems handily available, they will create their own problems.</p>
        <footer>- <cite>Scott Adams</cite></footer>
        </blockquote>

        <div class="about-buttons">
          <div class="">
            <span class="about-button">
              <a href="https://github.com/tiborsimon" target="_blank"><span class="icon fa-github"></span></a>
            </span>
            <span class="about-button">
              <a href="https://hu.linkedin.com/in/tibor-simon-258850a3" target="_blank"><span class="icon fa-linkedin"></span></a>
            </span>
            <span class="about-button">
              <a href="https://www.youtube.com/channel/UCvp1-SnV3PJKEdTDVsYQN9Q" target="_blank"><span class="icon fa-youtube"></span></a>
            </span>
            <span class="about-button">
              <a href="https://soundcloud.com/tiborsimon" target="_blank"><span class="icon fa-soundcloud"></span></a>
            </span>
            <span class="about-button">
              <a href="https://www.instagram.com/tiborsimon/" target="_blank"><span class="icon fa-instagram"></span></a>
            </span>
          </div>
        </div>

      </div>
      <div class="1u 12u(mobile)"></div>
    </div>
  </div>
</section>
