<!-- Main -->
<section class="wrapper style2" id="main-wrapper">
  <div class="title">Latest articles</div>
  <div id="main" class="container">

    <!-- Twitter and Articles -->
      <div class="row">
        <div class="6u 12u(mobile)">
          <div class="twitter-feed">
            {% include 'includes/twitter-timeline.html' %}
          </div>
        </div>
        <div class="6u 12u(mobile)">
          {% include 'includes/latest-articles.html' %}
        </div>
      </div>

  </div>
</section>
