<div class="4u 12u(mobile)">

  <!-- Sidebar -->
    <aside id="sidebar">
      <div class="box">
        <img src="{{ SITEURL }}/{{ AVATAR }}" style="border: 3px solid #ddd; margin: 0 auto" width=300 alt="Image of Tibor Simon" />
        <p >Hi, my name is <b>Tibor Simon.</b> I am a graduated electrical engineer with a masters degree.  I live in Budapest, and I am currently working at Nokia Networks.</p>
      </div>
      <div class="box">
        {% if article.series %}
          {% include 'includes/series.html' %}
        {% endif %}
      </div>
      <div class="box">
        {% include 'includes/tag-list.html' %}
      </div>
      <div class="box">
        {% include 'includes/category-list.html' %}
      </div>
    </aside>

</div>
