<div class="4u 12u(mobile)">

  <!-- Sidebar -->
    <aside id="sidebar">
      <div class="box">
        <img class="widget-avatar" src="{{ SITEURL }}/{{ AVATAR }}" width=300 alt="Image of Tibor Simon" />
        <span>Hi, my name is <b>Tibor Simon.</b> I am a graduated electrical engineer with a masters degree.  I live in Budapest, and I am currently working at Nokia Networks.</span>
        <div style="max-width: 350px;text-align: center;display: block;margin: 0 auto;margin-top:1.2em;">
          {% include 'includes/social-sharing.html' %}
          {% include 'includes/github-banner.html' %}
        </div>
      </div>
      <div class="box">
        {% if article.series %}
          {% include 'includes/series.html' %}
        {% endif %}
      </div>
      <div class="box">
        {% include 'includes/tag-list.html' %}
      </div>
      <div class="box">
        {% include 'includes/category-list.html' %}
      </div>
    </aside>

</div>
