
<!-- Widget -->
<div class="widget">

    <div class="widget-body">
    <img class="widget-avatar" src="{{ SITEURL }}/{{ AVATAR }}" width=300 alt="Image of Tibor Simon" />
    <span>Hi, my name is <b>Tibor Simon.</b> I am a graduated electrical engineer with a masters degree.  I live in Budapest, and I am currently working at Nokia Networks.</span>
    <div style="max-width: 350px;text-align: center;display: block;margin: 0 auto;margin-top:1.2em;">
        {% include 'includes/sharing.html' %}
        {% include 'includes/github-banner.html' %}
    </div>
    </div>

</div>
<!-- End Widget -->
