
<!-- Widget -->
<div class="widget">

    <h5 class="widget-title font-alt">Categories</h5>

    <div class="widget-body">
        <div class="row">
            {% set mi = categories|middle_index %}
            <div class="col-sm-6">
                <ul class="clearlist widget-menu">
                    {% for category, artiles in categories[:mi] %}
                    <li>
                        <a href="{{ SITEURL }}/category/{{ category }}.html" title="Category: {{ category }}">{{ category }}</a>
                        <small>
                            - ({{ articles|category_count(category) }})
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="clearlist widget-menu">
                    {% for category, artiles in categories[mi:] %}
                    <li>
                        <a href="{{ SITEURL }}/category/{{ category }}.html" title="Category: {{ category }}">{{ category }}</a>
                        <small>
                            - ({{ articles|category_count(category) }})
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- End Widget -->
