
<!-- Widget -->
<div class="widget">

    <h5 class="widget-title font-alt">Comments</h5>

    <div class="widget-body">
        <ul class="clearlist widget-comments">
            <li>
                John Doe on <a href="#" title="">Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                Emma Johnson on <a href="#" title="">Suspendisse accumsan interdum tellus</a>
            </li>
            <li>
                John Doe on <a href="#" title="">Praesent ultricies ut ipsum</a>
            </li>
            <li>
                Mark Deen on <a href="#" title="">Vivamus malesuada vel nulla vulputate</a>
            </li>
            <li>
                Sam Brin on <a href="#" title="">Aenean auctor egestas auctor</a>
            </li>
        </ul>
    </div>

</div>
<!-- End Widget -->
