
<!-- Widget -->
<div class="widget">

    <h5 class="widget-title font-alt">Last posts</h5>

    <div class="widget-body">
        <ul class="clearlist widget-posts">
            <li class="clearfix">
                <a href=""><img src="images/blog/previews/post-prev-1.jpg" alt="" class="widget-posts-img" /></a>
                <div class="widget-posts-descr">
                    <a href="#" title="">Minimalistic Design Forever</a>
                    Posted by John Doe 7 Mar 
                </div>
            </li>
            <li class="clearfix">
                <a href=""><img src="images/blog/previews/post-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                <div class="widget-posts-descr">
                    <a href="#" title="">Ipsum dolor sit amet, consectetur adipiscing elit</a>
                    Posted by John Doe 7 Mar 
                </div>
            </li>
            <li class="clearfix">
                <a href=""><img src="images/blog/previews/post-prev-3.jpg" alt="" class="widget-posts-img" /></a>
                <div class="widget-posts-descr">
                    <a href="#" title="">New Web Design Trends in 2015 year</a>
                    Posted by John Doe 7 Mar 
                </div>
            </li>
            <li class="clearfix">
                <a href=""><img src="images/blog/previews/post-prev-4.jpg" alt="" class="widget-posts-img" /></a>
                <div class="widget-posts-descr">
                    <a href="#" title="">Hipster’s Style in Web Design and Logo</a>
                    Posted by John Doe 7 Mar 
                </div>
            </li>
            <li class="clearfix">
                <a href=""><img src="images/blog/previews/post-prev-5.jpg" alt="" class="widget-posts-img" /></a>
                <div class="widget-posts-descr">
                    <a href="#" title="">Duis tristique condimentum nulla, bibendum consectetu</a>
                    Posted by John Doe 7 Mar 
                </div>
            </li>
        </ul>
    </div>

</div>
<!-- End Widget -->
