
<!-- Widget -->
<div class="widget">

    <h5 class="widget-title font-alt">Text widget</h5>

    <div class="widget-body">
        <div class="widget-text clearfix">

            <img src="images/user-avatar.png" alt="" width="70" class="img-circle left img-left">

            Consectetur adipiscing elit. Quisque magna ante eleifend eleifend. 
            Purus ut dignissim consectetur, nulla erat ultrices purus, ut consequat sem elit non sem.
            Quisque magna ante eleifend eleifend. 

        </div>
    </div>

</div>                            
<!-- End Widget -->
