<!DOCTYPE html>
<html lang="en" class="theme-color-33d685 theme-skin-light">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block title %}
	<title>RScard</title>
	{% endblock title %}

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/ico" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon.ico"/>

	<!-- Google Fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">

	<!-- Icon Fonts -->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/map-icons/css/map-icons.min.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/icomoon/style.css">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.bxslider/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.customscroll/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.mediaelement/mediaelementplayer.min.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.fancybox/jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.owlcarousel/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.owlcarousel/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/green.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Modernizer for detect what features the user’s browser has to offer -->
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/libs/modernizr.js"></script>
</head>

<body class="home header-has-img loading">

    {% include 'includes/mobile_nav.html' %}

    {% block sidebar %}
			{% include 'includes/sidebar.html' %}
		{% endblock sidebar %}

    <div class="wrapper">

				{% block header %}
					{% include 'includes/header.html' %}
				{% endblock header %}

        <div class="content">
            <div class="container">

			<!-- START: PAGE CONTENT -->
			{% block content %}

				{% block about %}
					{% include 'includes/about.html' %}
				{% endblock about %}

				{% block skills %}
					{% include 'includes/skills.html' %}
				{% endblock skills %}

				{% block portfolio %}
					{% include 'includes/portfolio.html' %}
				{% endblock portfolio %}

				{% block experience %}
					{% include 'includes/experience.html' %}
				{% endblock experience %}

				{% block education %}
					{% include 'includes/education.html' %}
				{% endblock education %}

				{% block clients %}
					{% include 'includes/clients.html' %}
				{% endblock clients %}

				{% block references %}
					{% include 'includes/references.html' %}
				{% endblock references %}

				{% block prices %}
					{% include 'includes/prices.html' %}
				{% endblock prices %}

				{% block blog_latest %}
					{% include 'includes/blog_latest.html' %}
				{% endblock blog_latest %}

				{% block interest %}
					{% include 'includes/interest.html' %}
				{% endblock interest %}

				{% block calendar %}
					{% include 'includes/calendar.html' %}
				{% endblock calendar %}

				{% block contact %}
					{% include 'includes/contact.html' %}
				{% endblock contact %}

			{% endblock content %}

			<!-- END: PAGE CONTENT -->

				{% block footer %}
					{% include 'includes/footer.html' %}
				{% endblock footer %}

            </div><!-- .container -->
        </div><!-- .content -->


    </div><!-- .wrapper -->

	<a class="btn-scroll-top" href="#"><i class="icon icon-arrow-up"></i></a>
    <div id="overlay"></div>
    <div id="preloader">
		<div class="preload-icon"><span></span><span></span></div>
		<div class="preload-text">Loading ...</div>
	</div>

    <!-- Scripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/map-icons/js/map-icons.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.appear.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.mediaelement/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.fancybox/helpers/jquery.fancybox-media.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/plugins/jquery.owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/site.min.js"></script>
</body>
</html>
