{% extends "base.html" %}

{% block header %}
  {% include 'includes/header_index.html' %}
{% endblock header %}

{% block content %}
  {% include 'includes/about.html' %}
  {% include 'includes/latest_articles.html' %}
  {% include 'includes/portfolio.html' %}
  {% include 'includes/skills.html' %}
  {% include 'includes/experience.html' %}
  {% include 'includes/education.html' %}
  {% include 'includes/clients.html' %}
  {% include 'includes/references.html' %}
  {% include 'includes/prices.html' %}
  {% include 'includes/interest.html' %}
  {% include 'includes/calendar.html' %}
  {% include 'includes/contact.html' %}
{% endblock content %}
