{% extends "base.html" %}

{% block body_declaration %}
<body class="header-has-img loading">
{% endblock body_declaration %}

{% block content %}

  <div class="section-box">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">All tags on <b>tiborsimon.io</b></h2>

        <aside class="widget widget_tag_cloud">
        <div class="tagcloud nav">
          {% for tag in tag_cloud %}
            <a href="#tag-{{ tag.0 }}">#{{ tag.0 }}</a>
          {% endfor %}
        </div>
        </aside>

      </div>
    </div>
  </div>

{% for tag, articles in tags|sort %}

  <section class="section" id="tag-{{ tag }}">
    <div class="row animate-up">
      <div class="col-xs-12">
        <h2 class="section-title">#{{ tag }}</h2>
      </div>
    </div>

    <div class="row">

    {% for article in articles %}
      {% include 'includes/article_card.html' %}
    {% endfor %}

    </div>
  </section>

{% endfor %}

{% endblock content %}
