<section id="about" class="section section-about">
  <div class="animate-up">
    <div class="section-box">
      <div class="profile">
        <div class="row">
          <div class="col-xs-5">
            <div class="profile-photo"><img src="{{ SITEURL }}/{{ AVATAR }}" alt="{{ AUTHOR }}"/></div>
          </div>
          <div class="col-xs-7">
            <div class="profile-info">
              <div class="profile-preword"><span>Hello</span></div>
              <h1 class="profile-title"><span>I'm</span> Tibor Simon</h1>

              <h2 class="profile-position">{{ AUTHOR_POSITION }}</h2></div>
              <dl class="profile-list">
                <dt>Age</dt>
                <dd>25</dd>
              </dl>
          </div>
        </div>
      </div>
      <div class="profile-social">
        {% include 'includes/social.html' %}
      </div>
    </div>

    <div class="profile-btn">
      <a class="btn btn-border ripple" href="">Download Resume</a>
    </div>

    <div class="profile-text">
      <p>Hello! I'm Robert Smith. Senior Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects.
      Well-versed in numerous programming languages including JavaScript, SQL, and C. Stng background in project management and customer relations.</p>
    </div>
  </div>
</section><!-- #about -->
