{% if article.series %}
<div class="post-pagination section-box" id="series">
    <div class="post-next">
      <h4 style="margin: 0; text-align: center;">This article is part {{ article.series.index }} of {{ article.series.all|length }} of the <b>{{ article.series.name }}</b> series</h4>
    </div>
    {% if article.series.all_previous %}
    <div class="post-next">
       {% for article in article.series.all_previous %}
           <div style="text-align: center">

             {% if article.tags %}
               <div class="post-tag" style="margin-bottom: 10px">
                 {% for tag in article.tags %}
                   <a href="{{ SITEURL }}/tag/{{ tag }}.html">#{{ tag }}</a>
                 {% endfor %}
               </div>
             {% endif %}

             <h3 class="post-title" style="margin-bottom: 4px;"><small>{{ article.series.index }}.</small> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>

             <div class="post-info">
               <a href="{{ SITEURL }}/category/{{ article.category }}.html"><i class="icon icon-menu"></i>{{ article.category }}</a>
             </div>

           </div>
       {% endfor %}
    </div>
    {% endif %}
    {% if article.series.all_next %}
    <div class="post-next">
       {% for article in article.series.all_next %}
           <div style="text-align: center">

             {% if article.tags %}
               <div class="post-tag" style="margin-bottom: 10px">
                 {% for tag in article.tags %}
                   <a href="{{ SITEURL }}/tag/{{ tag }}.html">#{{ tag }}</a>
                 {% endfor %}
               </div>
             {% endif %}

             <h3 class="post-title" style="margin-bottom: 4px;"><small>{{ article.series.index }}.</small> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>

             <div class="post-info">
               <a href="{{ SITEURL }}/category/{{ article.category }}.html"><i class="icon icon-menu"></i>{{ article.category }}</a>
             </div>

           </div>
       {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
