<nav class="post-pagination section-box">
  <div class="post-next">
    <div class="post-tag">Previous Article <a href="">#Tagapple</a></div>
    <h3 class="post-title"><a href="">How ipsum project web dolor sit amet</a></h3>

    <div class="post-info">
      <a href=""><i class="icon icon-user"></i>by admin</a>
      <a href=""><i class="icon icon-comments"></i>56</a>
    </div>
  </div>
  <div class="post-prev">
    <div class="post-tag">Next Article <a href="">#Photography</a></div>
    <h3 class="post-title"><a href="">project web dolor sit amet</a></h3>

    <div class="post-info">
      <a href=""><i class="icon icon-user"></i>by admin</a>
      <a href=""><i class="icon icon-comments"></i>56</a>
    </div>
  </div>
</nav>
<!-- .post-pagination -->
