<div class="col-xs-6">
  <article class="post-box">

      <div class="post-media">

          {% if article.type == "video" %}
            <div class="post-image">
              <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.img }}" alt="{{ article.title }} featured image"> </a>
              <span class="post-type-icon">
                <i class="icon icon-play"></i>
              </span>
            </div>
          {% elif article.type == "audio" %}
            <div class="post-image">
              <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.img }}" alt="{{ article.title }} featured image"> </a>
              <span class="post-type-icon">
                <i class="icon icon-audio"></i>
              </span>
            </div>
          {% elif article.type == 'slider' %}
            <ul class="post-slider">
                {% for slide in article.slides.split(', ') %}
                  <li><img src="{{ SITEURL }}/{{ slide }}" alt=""/></li>
                {% endfor %}
            </ul>
            <div class="post-slider-arrows">
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
            </div>
          {% else %}
            <div class="post-image">
              <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.img }}" alt="{{ article.title }} featured image"> </a>
            </div>
          {% endif %}
          
      </div>


    <div class="post-data">

      {% include 'includes/date_box.html' %}

      {% include 'includes/article_tags.html' %}

      <h3 class="post-title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h3>

      {% include 'includes/article_info.html' %}

    </div>

  </article>
</div>
