<section id="blog" class="section section-blog">
    <h2 class="section-title">Latest posts</h2>

    {% if articles %}
      {% for article in (articles_page.object_list if articles_page else articles)[:4] %}

        {% if loop.index % 2 == 1 %}
          <div class="row animate-up">
        {% endif %}

            {% include 'includes/article_card.html' %}

        {% if loop.index % 2 == 0 %}
          </div>
        {% endif %}

      {% endfor %}
    {% endif %}

    <div class="row animate-up">
      <div class="col-xs-12">
        <div class="profile-btn">
          <a class="btn btn-border ripple" href="">Go to the blog</a>
        </div>
      </div>
    </div>

</section><!-- #blog -->
