<section id="prices" class="section section-prices">
            <div class="animate-up">
                <h2 class="section-title">Price List</h2>

                <div class="row price-list">
                    <div class="col-sm-4">
                        <div class="price-box">
                            <div class="price-box-top">
                                <span>$16</span><small>/mo</small>
                            </div>
                            <div class="price-box-content">
                                <h3>Basic</h3>
                                <ul>
                                    <li>Lorem Ipsum Servise</li>
                                    <li>12 Ipsum Servise</li>
                                    <li>Lorem Ipsum Servise 6</li>
                                    <li>New Servise 2I</li>
                                    <li>Servise</li>
                                    <li>Ipsum Servise 2</li>
                                </ul>
                                <a class="btn btn-lg btn-border" href="">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="price-box box-primary">
                            <div class="price-box-top">
                                <span>$16</span><small>/mo</small>
                            </div>
                            <div class="price-box-content">
                                <h3>Basic</h3>
                                <ul>
                                    <li>Lorem Ipsum Servise</li>
                                    <li>48 Ipsum Servise 2</li>
                                    <li>Lorem Ipsum Servise 6</li>
                                    <li>New Servise 2I</li>
                                    <li>Servise</li>
                                    <li>Ipsum Servise 2</li>
                                </ul>
                                <a class="btn btn-lg btn-border" href="">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="price-box">
                            <div class="price-box-top">
                                <span>$16</span><small>/mo</small>
                            </div>
                            <div class="price-box-content">
                                <h3>Basic</h3>
                                <ul>
                                    <li>Lorem Ipsum Servise</li>
                                    <li>Unlimited Servise 2</li>
                                    <li>Lorem Ipsum Servise 6</li>
                                    <li>New Servise 2I</li>
                                    <li>Servise</li>
                                    <li>Ipsum Servise 2</li>
                                </ul>
                                <a class="btn btn-lg btn-border" href="">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #prices -->
