<aside class="widget widget_search">
  <h2 class="widget-title">Search</h2>
  <form class="search-form">
    <label class="ripple">
      <span class="screen-reader-text">Search for:</span>
      <input class="search-field" type="search" id="search-modal-input-sidebar" placeholder="Search" autocomplete="off">
    </label>
    <!-- <input type="submit" class="search-submit" id="search-modal-input" value="Search"> -->
  </form>
  <div class="" id="search-results-container-sidebar"></div>
</aside>
<!-- .widget_search -->
