<ul class="social">
  <li><a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="icon icon-facebook"></i></a></li>
  <li><a class="ripple-centered" href="https://twitter.com/" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a class="ripple-centered" href="https://www.linkedin.com/" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <li><a class="ripple-centered" href="https://plus.google.com" target="_blank"><i class="icon icon-google-plus"></i></a></li>
  <li><a class="ripple-centered" href="https://dribbble.com/" target="_blank"><i class="icon icon-dribbble"></i></a></li>
  <li><a class="ripple-centered" href="https://www.instagram.com/" target="_blank"><i class="icon icon-instagram"></i></a></li>
</ul>
