<aside class="widget widget-popuplar-posts">
  <h2 class="widget-title">Popular posts</h2>
  <ul>
    <li>
      <div class="post-media">
        <a href="">
          <img src="img/uploads/thumb-78x56-1.jpg" alt="" />
        </a>
      </div>
      <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
      <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
    </li>
    <li>
      <div class="post-media">
        <a href="">
          <img src="img/uploads/thumb-78x56-2.jpg" alt="" />
        </a>
      </div>
      <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
      <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
    </li>
    <li>
      <div class="post-media">
        <a href="">
          <img src="img/uploads/thumb-78x56-3.jpg" alt="" />
        </a>
      </div>
      <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
      <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
    </li>
  </ul>
</aside>
<!-- .widget-popuplar-posts -->
