<aside class="widget widget_categories">
  <h2 class="widget-title">Categories</h2>
  <ul>
    <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
    <li><a href="" title="Business Category Posts">Business</a> (16)</li>
    <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
    <li><a href="" title="Design Category Posts">Design</a> (10)</li>
    <li><a href="" title="Development Category Posts">Development</a> (14)</li>
    <li><a href="" title="Education Category Posts">Education</a> (9)</li>
  </ul>
</aside>
<!-- .widget_categories -->
