<aside class="widget widget-recent-posts">
  <h2 class="widget-title">Recent posts</h2>
  <ul>
    <li>
      <div class="post-tag">
        <a href="">#Photo</a>
        <a href="">#Architect</a>
      </div>
      <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
      <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
    </li>
    <li>
      <div class="post-tag">
        <a href="">#Photo</a>
        <a href="">#Architect</a>
      </div>
      <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
      <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
    </li>
    <li>
      <div class="post-tag">
        <a href="">#Photo</a>
        <a href="">#Architect</a>
      </div>
      <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
      <div class="post-info"><a href=""><i class="icon icon-comments"></i>56 comments</a></div>
    </li>
  </ul>
</aside>
<!-- .widget-recent-posts -->
