@import '../utils/palette';
@import '../utils/card';
@import '../utils/transition';

$content-padding: 30px;

.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

.article-links {
  background: var(--main-color);
  .button {
    padding: 0 30px;
    display: block;
    color: white;
    padding: 6px 30px;
    text-decoration: none;
    &:hover {
      background: var(--action-background);
    }
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 32px;
  }
}

.article {
  max-width: var(--content-width);
  header {
    .banner {
    }
    .article-title {
      padding: 25px 30px 5px 30px;
      font-size: 300%;
      font-weight: 400;
      line-height: 1em;
    }
    .details {
      border-top: solid 1px palette(Black, Dividers);
      display: flex;
      justify-content: space-between;
      color: palette(Black, Secondary Text);
      padding: 0 30px 0;
      .timestamp {
        font-size: 1.4em;
        display: flex;
        padding: 12px 0;
        align-items: center;
      }
      .tag-list {
        margin: 0;
        padding: 0;
        align-items: center;
        a {
          color: palette(Grey, 600);
          background: palette(Grey,300);
          margin-right: 0;
          margin-left: 6px !important;
          margin-top: 2px;
          &:hover {
            color: var(--main-color);
          }
        }
      }
    }
  }
  article {
    padding: $content-padding;
    .summary {
      padding-bottom: $content-padding/2;
      font-size: 1.3em;
      color: palette(Black, Secondary Text);
      line-height: 1.3em;
    }
  }
  a {
    color: var(--main-color);
  }
  hr {
    position: relative;
    border: none;
    border-top: 1px solid palette(Black, Dividers);
    margin-bottom: 30px;
    width: var(--content-width);
    position: relative;
    left: - $content-padding;
  }
  .code-name {
    margin-bottom: -15px;
    color: #5faec1;
    box-sizing: border-box;
    background: #0a2329;
    position: relative;
    width: var(--content-width);
    padding-left: $content-padding;
    left: - $content-padding;
    font-family: monospace;
    font-size: 0.8em;
    padding-top: 7px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #5faec1;
  }

  .divider {
    margin-top: 50px;
    font-weight: 300;
    color: #aaa;
    position: relative;
    width: var(--content-width);
    left: - $content-padding;
    line-height: 1em;
    border-bottom: 1px solid palette(Black, Dividers);
    padding-left: $content-padding;
  }

  iframe.video {
    position: relative;
    left: - $content-padding;
  }

  .figures {
    figure {
      position: relative;
      border: none;
      border-bottom: 1px solid palette(Black, Dividers);
      width: var(--content-width);
      left: - $content-padding;
      margin: 0;
      display: flex;
      flex-direction: column;
      &:first-child {
        border-top: 1px solid palette(Black, Dividers);
        margin-top: 30px;
      }
      &:last-child {
        margin-bottom: 30px;
      }
      img {
        margin: 19px auto 10px;
        max-width: 740px;
        margin-bottom: 10px;
      }
      figcaption {
        text-align: center;
        font-size: 0.9em;
        font-style: italic;
        margin-bottom: 10px;
      }
    }
  }

  p code {
    color: palette(Black, Secondary Text);
    font-size: 0.8em;
    background: palette(Grey, 100);
    padding: 1px 3px;
  }

  pre code {
    background: #0a2329;
    color: #5faec1;
    width: var(--content-width);
    display: block;
    position: relative;
    left: - $content-padding;
    overflow-x: auto;
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 17px 30px;
  }
}

table {
  position: relative;
  // background-color: #fff;
  width: var(--content-width) !important;
  padding-left: $content-padding;
  left: - $content-padding;
  font-size: 13px;
  table-layout: auto;
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  thead {
    background-color: #e8e8e8;
    font-weight: 500;
  }
  td, th {
    border: 1px solid palette(Black, Dividers);
    line-height: 24px;
    padding: 6px;
    vertical-align: middle;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.discussion {
  padding: 10px 30px 30px 30px;
}

.sidebar {
  --width: 306px;
  width: var(--width);
  .avatar {
    display: block;
    width: var(--width);
    height: var(--width);
    background: palette(Blue);
  }
  .sidebar-nav {
    display: flex;
    flex-wrap: wrap;
    a {
      width: calc(var(--width) / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: palette(Black, Secondary Text);
      &:hover {
        background: var(--main-color);
        color: white;
        font-weight: 400;
        transition: $default-transition;
      }
      &:first-child {
        border-right: 1px solid palette(Black, Dividers);
      }
    }
    span {
      width: calc(var(--width) / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: palette(Black, Dividers);
      &:first-child {
        border-right: 1px solid palette(Black, Dividers);
      }
    }
    .neighbour-title {
      width: var(--width);
      display: flex;
      height: 0px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      background: var(--main-color);
      color: white;
      transition: $default-transition;
      font-size: 0.9em;
    }
    .previous-a:hover ~ .previous-title {
      height: 41px;
      padding: 10px;
    }
    .next-a:hover ~ .next-title {
      height: 41px;
      padding: 10px;
    }
  }
}



