@import '../utils/palette';
@import '../utils/card';
@import '../utils/transition';

$content-padding: 30px;

.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

.article {
  max-width: var(--content-width);
  header {
    .banner {
      background: var(--main-color);
    }
    .article-title {
      padding: 25px 30px 5px 30px;
      font-size: 300%;
      font-weight: 300;
      color: white;
      background: var(--main-color);
      line-height: 1em;
    }
    .details {
      display: flex;
      justify-content: space-between;
      background: var(--main-color);
      padding: 0 30px 10px;
      .timestamp {
        color: white;
        background: var(--main-color);
        font-size: 1.4em;
        display: flex;
        padding: 12px 0;
        align-items: center;
      }
      .tag-list {
        margin: 0;
        padding: 0;
        align-items: center;
        a {
          background: white;
          margin-right: 0;
          margin-left: 6px !important;
          margin-top: 2px;
          &:hover {
            background: var(--header-color);
            color: white;
          }
        }
      }
    }
  }
  article {
    padding: $content-padding;
    .summary {
      display: flex;
      display-direction: row;
      padding-bottom: $content-padding/2;
      font-size: 1.3em;
      color: palette(Black, Secondary Text);
    }
  }
  a {
    color: var(--main-color);
  }
  hr {
    position: relative;
    border: none;
    border-top: 1px solid palette(Black, Dividers);
    margin-bottom: 30px;
    width: var(--content-width);
    position: relative;
    left: - $content-padding;
  }
  .code-name {
    margin-bottom: -15px;
    color: #aaa;
    box-sizing: border-box;
    background: #eee;
    position: relative;
    width: var(--content-width);
    padding-left: $content-padding;
    left: - $content-padding;
    font-family: monospace;
    font-size: 0.8em;
    background: #F5F5F5;
    border-bottom: 1px dashed #ccc;
  }

  .divider {
    margin-top: 50px;
    font-weight: 300;
    color: #aaa;
    position: relative;
    width: var(--content-width);
    left: - $content-padding;
    line-height: 1em;
    border-bottom: 1px solid palette(Black, Dividers);
    padding-left: $content-padding;
  }

  p code {
    color: palette(Black, Secondary Text);
    font-size: 0.8em;
    background: palette(Grey, 100);
    padding: 1px 3px;
  }

  pre code {
    background: palette(Grey, 100);
    width: var(--content-width);
    display: block;
    position: relative;
    left: - $content-padding;
    overflow-x: auto;
    color: #999;
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 10px 30px;
  }
}

.discussion {
  padding: 10px 30px 30px 30px;
}

.sidebar {
  --width: 300px;
  width: var(--width);
  .avatar {
    display: block;
    width: var(--width);
    height: var(--width);
    background: palette(Blue);
  }
  .sidebar-nav {
    display: flex;
    flex-wrap: wrap;
    a {
      width: calc(var(--width) / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: palette(Black, Secondary Text);
      &:hover {
        background: var(--main-color);
        color: white;
        font-weight: 400;
        transition: $default-transition;
      }
      &:first-child {
        border-right: 1px solid palette(Black, Dividers);
      }
    }
    span {
      width: calc(var(--width) / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: palette(Black, Dividers);
      &:first-child {
        border-right: 1px solid palette(Black, Dividers);
      }
    }
    .neighbour-title {
      width: var(--width);
      display: flex;
      height: 0px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      background: var(--main-color);
      color: white;
      transition: $default-transition;
    }
    .previous-a:hover ~ .previous-title {
      height: 41px;
      padding: 10px;
    }
    .next-a:hover ~ .next-title {
      height: 41px;
      padding: 10px;
    }
  }
}



