@import '../utils/card';
@import '../utils/palette';

nav .navmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .group {
    display: flex;
    align-items: center;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding:  0 10px;
      border: none;
      background: none;
      height: var(--nav-height);
      font-size: 1.1em;
      color: var(--color);
      text-decoration: none;
      &:hover {
        background: var(--hover-color);
      }
      &:active {
        background: var(--active-color);
      }
      &.logo {
        font-size: 1.4em;
      }
    }
  }
}
