@import '../utils/card';
@import '../utils/palette';
@import '../utils/transition';

nav .navmenu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo {
    font-size: 1.4em;
    color: var(--color);
    text-decoration: none;
    transition: $default-transition;
    &:hover {
      color: var(--hover-color);
    }
  }

  .group {
    display: flex;
    align-items: center;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding:  0 10px;
      border: none;
      background: none;
      height: var(--nav-height);
      font-size: 1.1em;
      color: var(--color);
      text-decoration: none;
      transition: $default-transition;
      &:hover {
        color: var(--hover-color);
      }
      &:active {
        color: var(--active-color);
      }
    }
  }
}
