@import '../utils/palette';
@import '../utils/card';
@import '../utils/transition';
@import '../elements/index/multibox';
@import '../elements/index/worklog';
@import '../elements/index/pypi';

.index-header {
  display: block;
  // background: var(--header-color);
  // height: 400px;
  margin-bottom: 20px;
}
section {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: palette(Black, Secondary Text);
  }
}
.header-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 180px;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: 300;
}
.about {
  padding: var(--content-padding);
  // background: var(--main-color);
  // color: white;
  height: 300px;
  h1 {
    margin: 0;
  }
  .text {
    max-width: 800px;
    h1 {
      color: white;
      text-align: left;
    }
  }
  img {
    width: 300px;
    height: 300px;
  }
}
.calendar-wrapper {
  height: 153px;
  width: 673px;
  .calendar {
    position: relative;
    left: -29px;
    top: -22px;
    h2, .month, .wday, .contrib-footer, .contrib-column { display: none; }
    transition: $default-transition;
  }
}
.articles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .articles {
    box-sizing: border-box;
    width: 800px;

    article {
      background: white;
      transition: $default-transition;
      box-sizing: border-box;
      display: flex;
      width: 100%;
      .details {
        width: 100%;
        hr {
          width: 800px;
          position: relative;
          left: calc(-1*var(--content-padding));
          margin: 0;
          margin-bottom: 12px;
          border: none;
          border-top: 1px solid palette(Black, Dividers);
          box-sizing: border-box;
        }
        &.with-thumbnail {
          width: 600px;
          hr {
            width: 600px;
          }
        }
        header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
        h2 {
          margin-bottom: 3px;
          > a {
            text-decoration: none;
            color: var(--main-color);
            transition: $default-transition;
            position: relative;
            left: 0px;
            &:hover {
              position: relative;
              left: 5px;
            }
          }
        }
        .timestamp {
          font-size: 0.8em;
          color: palette(Black, Hint Text);
          position: relative;
        }
        .snippet {
          margin-bottom: 10px;
        }
        .tag-list {
          margin: 0;
        }
      }
      .image {
        background: var(--main-color);
        width: 200px;
        height: 200px;

      }
    }

  }

  .sidebar {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column;
    .tags {
      align-self: flex-start;
      .tags-list {
        margin: 0;
      }
    }

  }
}

#searchfield {
	width: 100%;
	height: 32px;
	/* font-size: 1.1em; */
	/* border-color: #aaa; */
	border: 1px solid #ddd;
	padding: 10px;
}

.pagination-nav {
  align-self: flex-end;
  display: flex;
  text-align: center;
  a {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    color: palette(Black, Secondary Text);
    &:hover {
      background: var(--main-color);
      color: white;
      font-weight: 400;
      transition: $default-transition;
    }
    &:nth-child(odd) {
      border-right: 1px solid palette(Black, Dividers);
    }
  }
  span {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: palette(Black, Dividers);
    &:nth-child(odd) {
      border-right: 1px solid palette(Black, Dividers);
    }
  }
}

.fade-in {
  transition: $default-transition;
  opacity: 0;
}

.twitter-timeline {
  height: 380px !important;
}

.twitter-card {
  height: 450px;
}

.timeline-Header {
  display: none !important;
}
.twitter-follow-button-wrapper {
  position: relative;
  bottom: 34px;
  left: 253px;
}
.twitter-timeline-wrapper {
  position: relative;
  bottom: 26px;
}

.flickr-slideshow {
  height: 300px;
}

.footer {
  width: 800px;
  margin: 40px auto 20px auto;
  text-align: center;
  color: palette(Black, Hint Text);
  font-size: 0.8em;
}

.icons-row {
  color: palette(White, Icon);
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 1.3em;
  padding-bottom: 4px;
  margin-top: 12px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: palette(Black, Dividers);
    color: palette(Black, Text);
    transition: $default-transition;
    &:hover {
      color: white;
      background: var(--main-color);
    }
  }
}

