<hr class="mt-0 mb-0" id="about"/>
{% include 'includes/github-calendar.html' %}
<section class="page-section pt-0 pb-0 banner-section bg-gray" data-background="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/home-2-5.jpg">
    <div class="container relative">

        <div class="row">

            <div class="col-sm-6">

                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">My name is <b>Tibor Simon.</b> </h3>
                        <div class="banner-decription">I am a graduated electrical engineer with a master's degree. I live in Budapest, and I am currently working at Nokia Networks.</div>
                        <div class="local-scroll">
                            <a target="_blank" href="https://github.com/tiborsimon" style="margin-right: 6px;" class="btn btn-mod btn-w btn-small btn-round"><i style="font-size: 18px; color: #555;"class="fa fa-github"></i></a>
                            <a target="_blank" href="https://hu.linkedin.com/in/tibor-simon-258850a3" style="margin-right: 6px;" class="btn btn-mod btn-w btn-small btn-round"><i style="font-size: 18px; color: #555;"class="fa fa-linkedin"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCvp1-SnV3PJKEdTDVsYQN9Q" style="margin-right: 6px;" class="btn btn-mod btn-w btn-small btn-round"><i style="font-size: 18px; color: #555;"class="fa fa-youtube"></i></a>
                            <a target="_blank" href="https://soundcloud.com/tiborsimon" style="margin-right: 6px;" class="btn btn-mod btn-w btn-small btn-round"><i style="font-size: 18px; color: #555;"class="fa fa-soundcloud"></i></a>
                            <a target="_blank" href="https://www.instagram.com/tiborsimon/" style="margin-right: 6px;" class="btn btn-mod btn-w btn-small btn-round"><i style="font-size: 18px; color: #555;"class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 wow fadeInUp align-center">
                <img src="{{ SITEURL }}/{{ AVATAR }}" style="width: 100%; margin: 50px 20px;border-radius: 5px;max-width: 320px;" alt="Tibor Simon's avatar" />
            </div>

        </div>

    </div>
</section>

{% include 'includes/small-items.html' %}

<div id="timeline"></div>
<div id="loading" style="display: none;">loading...</div>
<hr class="mt-0 mb-0 ">
<div class="timeline-help font-alt">
    <span>h - select previous, l - select next, j - zoom in, k - zoom out </span>
</div>
<hr class="mt-0 mb-0 ">

