<section class="page-section">
    <div class="container relative">

        <div class="row">

            <div class="col-md-3 mb-sm-40">
                <img src="{{ SITEURL }}/{{ AVATAR }}" width=300 class="avatar" alt="Tibor Simon's avatar" />
            </div>

            <div class="col-md-9 col-lg-4 col-lg-offset-1">

                <!-- About Project -->
                <div class="text">

                    <p class="font-alt">Hi, my name is <b>Tibor Simon.</b> I am a graduated electrical engineer with a masters degree.  I live in Budapest, and I am currently working at Nokia Networks.</p>

                    <blockquote>
                        <p>Engineers like to solve problems. If there are no problems handily available, they will create their own problems.</p>
                        <footer>- <cite>Scott Adams</cite></footer>
                    </blockquote>

                    <div class="about-buttons">
                        <div class="">
                            <span class="about-button">
                                <a href="https://github.com/tiborsimon" target="_blank"><span class="icon fa-github"></span></a>
                            </span>
                            <span class="about-button">
                                <a href="https://hu.linkedin.com/in/tibor-simon-258850a3" target="_blank"><span class="icon fa-linkedin"></span></a>
                            </span>
                            <span class="about-button">
                                <a href="https://www.youtube.com/channel/UCvp1-SnV3PJKEdTDVsYQN9Q" target="_blank"><span class="icon fa-youtube"></span></a>
                            </span>
                            <span class="about-button">
                                <a href="https://soundcloud.com/tiborsimon" target="_blank"><span class="icon fa-soundcloud"></span></a>
                            </span>
                            <span class="about-button">
                                <a href="https://www.instagram.com/tiborsimon/" target="_blank"><span class="icon fa-instagram"></span></a>
                            </span>
                        </div>

                    </div>

                </div>
                <!-- End About Project -->

            </div>
        </div>
    </div>
</section>
{% include 'includes/github-calendar.html' %}
<hr class="mt-10 mb-0 ">
{% include 'includes/small-items.html' %}
