
{% if articles %}
<!-- Section -->
<section class="small-section pb-0" id="latest">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">Latest articles</h2>
        <div class="row">

            <!-- Content -->
            <div class="col-sm-8">
                {% for article in (articles_page.object_list if articles_page else articles)[:3] %}
                {% include 'includes/article/wide-date.html' %}
                {% endfor %}
            </div>
            <!-- End Content -->

            <!-- Sidebar -->
            <div class="col-sm-4 sidebar mt-0">
                {% include 'includes/widgets/categories.html' %}
                {% include 'includes/widgets/tags.html' %}
            </div>
            <!-- End Sidebar -->

        </div>

    </div>
</section>
<hr class="mt-0 mb-0 "/>
<!-- Section -->
<section class="small-section pb-20 pt-20 mt-0 mb-0">
    <div class="container relative">
        <div class="row">

            <!-- Content -->
            <div class="col-sm-12">
                <div class="align-center">
                    <a href="{{ SITEURL }}/archives.html" class="btn btn-mod btn-gray btn-circle btn-large btn-round">View Blog</a>
                </div>
            </div>
            <!-- End Content -->

        </div>
    </div>
</section>
<!-- End Section -->
{% endif %}
