<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">

        <!-- Footer Logo -->
        <div class="local-scroll mb-20 wow fadeInUp" data-wow-duration="1.5s">
            <a href="#top"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/logo/logo-dark.png" width="109" alt="" /></a>
        </div>
        <!-- End Footer Logo -->
        
        <div style="max-width:300px; display: block; margin: 0 auto 42px auto;">
          {% include 'includes/sharing.html' %}
        </div>

        <!-- Footer Text -->
        <div class="footer-text">

            <!-- Copyright -->
            <div class="footer-copy font-alt">
                &copy; Tibor Simon 2016.
            </div>
            <!-- End Copyright -->

            <div class="footer-made mt-10">
                Every content of this site is created and owned by Tibor Simon except the small brand icons in the about section.
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"><br />tiborsimon.io</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://tiborsimon.io" property="cc:attributionName" rel="cc:attributionURL">Simon Tibor</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>

            <div class="footer-made">
                Engineering with Passion
            </div>

            <div class="footer-made mt-10">
                <br /><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
            </div>

        </div>
        <!-- End Footer Text --> 

    </div>


    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- End Top Link -->

</footer>
<!-- End Foter -->
