<section class="small-section pt-0 pb-20">
    <div class="container relative">
        <div class="row">
            <div class="col-sm-3 align-right mt-30">
                <h4 class="font-alt mb-0"><b>GitHUB</b></h4>
                <h4 class="font-alt mt-0">Contributions</h4>
            </div>
            <div class="col-sm-9 align-center">
                <div class="calendar">
                    Loading the data just for you.
                </div>
            </div>
        </div>
    </div>
</section>
