<section class="small-section pt-0 pb-20">
    <div class="container relative">
        <div class="row">
            <div class="col-sm-3 align-right mt-30">
                <h4 class="font-alt mb-0"><b>GitHUB</b></h4>
                <h4 class="font-alt mt-0">Contributions</h4>
            </div>
            <div class="col-sm-9 align-center">
                <div class="calendar">
                    <img src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" class="spinner mt-30" />
                    <p class="spinner-text monospace">Crunching <a href="https://github.com/tiborsimon">@tiborsimon</a>'s contributions just for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
