
<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="{{ SITEURL }}" class="logo">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/logo/logo-white.png" alt="" />
            </a>
        </div>

        {% include 'includes/menu.html' %}

    </div>
</nav>
<!-- End Navigation panel -->
