
<!-- Navigation panel -->
<div id="sticky-wrapper" class="sticky-wrapper" style="height: 75px;">
    <nav class="main-nav stick-fixed">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="{{ SITEURL }}" class="logo">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/logo/logo-dark.png" alt="" />
                </a>
            </div>

            {% include 'includes/menu.html' %}

        </div>
    </nav>
</div>
<!-- End Navigation panel -->
