
<div class="neighbors">
    <div class="row">

        {% if article.next_article %}
        <div class="6u 12u(mobile)">
            <div class="article-date">
                <i class="fa fa-clock-o"></i> Posted on <time datetime="{{ article.next_article.date.isoformat() }}">{{ article.next_article.locale_date }}</time>
            </div>

            <a href="{{ SITEURL }}/{{ article.next_article.url }}"><h3 class="post-title">{{ article.next_article.title }}</h3></a>

            <div class="article-categories">
                <!-- CATEGORY -->
                <i class="fa fa-folder-open-o"></i>
                <a href="{{ SITEURL }}/{{ article.next_article.category.url }}">{{ article.next_article.category }}</a>

                <!-- TAGS -->
                {% if article.next_article.tags %}
                <i class="fa fa-tags"></i>
                {% for tag in article.next_article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="article-summary">
                {{ article.next_article.summary|striptags }}
            </div>
            <div class="direction">
                Next article
            </div>
        </div>
        {% endif %}

        {% if article.prev_article %}
        <div class="6u 12u(mobile)">
            <div class="article-date">
                <i class="fa fa-clock-o"></i> Posted on <time datetime="{{ article.prev_article.date.isoformat() }}">{{ article.prev_article.locale_date }}</time>
            </div>

            <a href="{{ SITEURL }}/{{ article.prev_article.url }}"><h3 class="post-title">{{ article.prev_article.title }}</h3></a>

            <div class="article-categories">
                <!-- CATEGORY -->
                <i class="fa fa-folder-open-o"></i>
                <a href="{{ SITEURL }}/{{ article.prev_article.category.url }}">{{ article.prev_article.category }}</a>

                <!-- TAGS -->
                {% if article.prev_article.tags %}
                <i class="fa fa-tags"></i>
                {% for tag in article.prev_article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="article-summary">
                {{ article.prev_article.summary|striptags }}
            </div>
            <div class="direction">
                Previous article
            </div>
        </div>
        {% endif %}

    </div>
</div>
