<div class="row multi-columns-row mb-80">

    {% if article.prev_article %}
    <div class="col-sm-6  mb-md-50">

        <div class="post-prev-title font-alt">
            <a href="{{ SITEURL }}/{{ article.prev_article.url }}">{{ article.prev_article.title }}</a>
        </div>

        <div class="post-prev-info font-alt">
            Previous article
        </div>

        <div class="post-prev-text">
            {{ article.prev_article.summary|striptags }}
        </div>

        <div class="post-prev-more">
            <a href="{{ SITEURL }}/{{ article.prev_article.url }}" class="btn btn-mod btn-gray btn-round"><i class="fa fa-angle-left"></i>&nbsp;Prev post</a>
        </div>

    </div>
    {% endif %}

    {% if article.next_article %}
    <div class="col-sm-6  mb-md-50">

        <div class="post-prev-title font-alt">
            <a href="{{ SITEURL }}/{{ article.next_article.url }}">{{ article.next_article.title }}</a>
        </div>

        <div class="post-prev-info font-alt">
            Next article
        </div>

        <div class="post-prev-text">
            {{ article.next_article.summary|striptags }}
        </div>

        <div class="post-prev-more">
            <a href="{{ SITEURL }}/{{ article.next_article.url }}" class="btn btn-mod btn-gray btn-round">Next post&nbsp;<i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    {% endif %}

</div>
