<section class="small-section pt-20 pb-20">
    <div class="container relative">
                    
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            
                            <div class="small-item-carousel black owl-carousel mb-0 animate-init owl-theme" data-anim-type="fade-in-right-large" data-anim-delay="100" style="opacity: 1; display: block;">
                                
                                <!-- Logo Item -->
                                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2528px; left: 0px; display: block; -webkit-transition: all 1000ms ease; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div><div class="owl-item" style="width: 158px;"><div class="logo-item">
                                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/images/client.png" width="67" height="67" alt="">
                                </div></div></div></div>
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                                <!-- Logo Item -->
                                
                                <!-- End Logo Item -->
                                
                            </div>
                                
                         </div>
                     </div>
                    
                 </div>
            </section>
