<!-- Logotypes Section -->
<section class="small-section pt-20 pb-20">
    <div class="container relative">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="small-item-carousel black owl-carousel mb-0 animate-init" data-anim-type="fade-in-right-large" data-anim-delay="100">

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/avr.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/css.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/html.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/js.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/linux.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/osh.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/pic.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/python.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/raspberry.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/swift.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/tdd.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/tmux.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/twisted.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="{{ SITEURL }}/images/logos/vim.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->

                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Logotypes -->


<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->
