<div class="col-md-4 col-lg-4 mb-60 mb-xs-40" style="position: absolute; left: 0px; top: 0px;">

    {% if article.thumbnail %}
    <div class="post-prev-img">
        <a href="blog-single-sidebar-right.html"><img src="images/blog/post-prev-1.jpg" alt=""></a>
    </div>
    {% endif %}

    <div class="post-prev-title font-alt">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </div>

    <div class="post-prev-text">
        {{ article.summary }}
    </div>

    <div class="post-prev-info font-alt">

        <i class="fa fa-clock-o"></i> <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
        {% if article.modified %}
            <span class="modified"><i class="fa fa-refresh"></i> <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_date }}</time></span>
        {% endif %}


        <i class="fa fa-comments"></i><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread"> 0 Comments</a>

        <i class="fa fa-folder-open"></i>
        <a href=""> {{ article.category }}</a>


        <!-- TAGS -->
        {% if article.tags %}
        <i class="fa fa-tags padded-icon"></i>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}


        <!-- SERIES -->
        {% if article.series %}
            <i class="fa fa-briefcase"></i>
            Part {{ article.series.index}} of {{ article.series.all|length }} in <i>{{ article.series.name }}</i>
        {% endif %}


        <!-- GITHUB -->
        {% if article.repo %}
        <span><a href="{{ article.repo }}" target="_blank"><i class="fa fa-github-square"></i> Repo</a></span>
        {% endif %}

    </div>

    <div class="post-prev-more">
        <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
    </div>

</div>
