
<!-- Post -->
<div class="blog-item">

    <!-- Date -->
    <div class="blog-item-date">
        <span class="date-num">{{ article.date.strftime('%d') }}</span>{{ article.date.strftime('%b') }}
    </div>

    <!-- Post Title -->
    <h2 class="blog-item-title font-alt mb-0"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    <hr style="margin: 0 0 4px 0;" />

    <!-- Author, Categories, Comments -->
    <div class="blog-item-data">
        {% include 'includes/info.html' %}
    </div>

    <!-- Text Intro -->
    <div class="blog-item-body">
        <p>{{ article.summary }}</p>
    </div>

    <!-- Read More Link -->
    <div class="blog-item-foot">
        <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
    </div>

</div>
<!-- End Post -->
